body{
    background-color: #f3e9f1;
}

a{
    text-decoration: none;
    color: #4e4e4e;

}

.header{
    display: flex;
    justify-content: center;
    width: auto;
}

.logo{
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* return from cart to index */
.fa-arrow-left{
    position: absolute;
    top: 35px;
    left: 0px;
    font-size: 23px;
    color: #4e4e4e;
    border: 1px solid none;
    padding: 10px;

    padding-left: 50px;
    border-radius: 0px 10px 10px 0px;
    margin-left: 0;

}

.fa-arrow-left:hover{
    background-color: white;
    padding: 10px;
    padding-left: 50px;
    border-radius: 0px 10px 10px 0px;
    transition: .5s;
}


/* introduction */
h1{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

@media screen and (max-width: 375px){
    h1{
        width: 350px;
    }
}

.title_index{
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    font-size: large;
    margin-top: 10px;
}
/* style product */

.product{
    width: auto;
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}

@media screen and (max-width: 375px){
    .product{
        flex-direction: column;
    }
}

.product_card{
    width: 230px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}

@media screen and (max-width: 375px){
    .product_card{
        margin-bottom: 15px;
    }
}

.img{
    width: 250px;
    height: 200px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
}

.product_element{
    width: 250px;
    display: flex;
    flex-direction: column;

}

.product_name{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.product_price{
    padding-top: 20px;
    font-family: 'Roboto';
    text-align: center;
}

.icon_cart_add{
    font-size: 20px;
    border-radius: 25px;
    margin-top: 25px;
    padding : 10px;
    text-align: center;
    background-color: #f3e9f1;
    color: #4e4e4e;
}


/* product page */

.product_page{
    height: 700px;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.product_card_page{
    width: auto;
    height: 400px;
    padding: 10px;
    display: flex;
    background-color: white;
    border-radius: 20px;
}

select{
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product_button{
    width: 200px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    border: none;
    font-family: 'Roboto';
    font-weight: 600;
}

.img_1_product{
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.product_element_page{
    width: auto;
}

.product_name_page{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.product_description{
    font-family: 'Roboto';
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    text-align: justify;
}

.product_price_page{
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 600;
    text-align: center;
}

.icon_cart_add_page{
    position: absolute;
    bottom: 10px;
    width: 300px;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 15px;
    padding : 10px;
    text-align: center;
    background-color: #f3e9f1;
    color: #4e4e4e;
}

.icon_cart_add_page:hover{
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    transition: .5s;
}



/* shopping cart */

.shopping_cart{
    display: flex;
    justify-content: space-around;
}

/* cart */

.cart_page{
    padding-bottom: 30px;
    width: 900px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_card_page{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.cart_name_page{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.img_1_cart{
    width: 150px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.cart_product_info{
    width: 750px;
    padding : 20px;
    border-radius: 10px;
    background-color: #f3e9f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cart_product_page{
    font-family: 'Roboto';
    font-weight: 600;
}

.cart_price_page_left{
    font-family: 'Roboto';


}

.cart_lens_page{
    font-family: 'Roboto';
}

.cart_quantity_page{
    border-radius: 5px;

}

.cart_element_page_right{
    width: 450px;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #f3e9f1;
    display: flex;
    justify-content: flex-end;
}

.cart_price_cart{
    display: flex;
    flex-direction: column;
    margin-right: 250px;
}

.cart_price_page{
    font-family: 'Roboto';

}

.cart_price_page_info{
    font-weight: 600;
}

.cart_price_page_total{
    padding-top: 20px;
    font-family: 'Roboto';
    font-weight: 600;
}

.cart_remove_item{
    font-family: 'Roboto';
    width: auto;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(211, 50, 50);
    color: white;
    border: none;
}



/* order form */

.form_container{
    width: 400px;
    background-color: white;
    border-radius: 20px;
    font-family: 'Roboto';
    max-width: 100%;
}

.form_title{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding-top: 40px;
}

.form_title h2{
    margin: 0;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px;
    width: 100%;   
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3C;
}

.form-control i{
    position: absolute;
    top: 36px;
    right: .5px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle{
    visibility: visible;
    color: #2ecc71;
}

.form-control.error i.fa-exclamation-circle{
    visibility: visible;
    color: #e74c3C;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small{
    visibility: visible;
    color: #e74c3C;
}

.order_button{
    background-color: #f3e9f1;
    border: none;
    padding: 10px 50px 10px 50px;
    display: block;
    width: auto;
    margin: auto;
    border-radius: 20px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 15px;
}


/* total Price

.total{
    margin: 20px 15px 20px 15px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    width: auto;
    justify-content: center;
    background-color: white;
}

.total_price{
    display: flex;
    justify-content: space-around;
    width: 150px;
}

.total_price_title{
    font-family: 'Roboto';
    font-weight: 600;
}

.total_price_number{
    font-family: 'Roboto';
    font-weight: 600;
} */

/* order page */

.order{
    margin: auto;
    margin-top: 50px;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order_name_page{
    font-family: 'Roboto';
    font-weight: 600;
}

.order_sentence{
    font-family: 'Roboto';
    font-weight: 600;
}

.order_confirmation{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order_title{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
}

.order_number{
    font-family: 'Roboto';
}

/* footer */
.footer{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 80px;
    border-radius: 20px 20px 0px 0px;
}

.footer:hover{
    height: 90px;
    transition: .3s;
}
.icon_cart{
    margin-top: 25px;
    font-size: 30px;
    color: #4e4e4e;

}

.icon_cart:hover{
    font-size: 40px;
    transition: .3s;
}


/* font import*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');